.pokemonCard {
  cursor: default;
}

.pokemonCard .name {
  text-transform: capitalize;
}


.modal-dialog .modal-title {
  text-transform: capitalize;
}

.stat,
.move,
.activity {
  text-transform: capitalize;
}

.tab-content > .tab-pane {
  height: 20em;
  overflow: auto
}